# Backend
/backend/node_modules
/backend/.env
/backend/dist

# Frontend
/frontend/node_modules
/frontend/.next
/frontend/out

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db